<% include ../../resources/_head.ejs %>

<% include ../../resources/_header.ejs %>

<main>
  <section>
  </section>
</main>

<% include ../../resources/_footer.ejs %>

<script src="../../assets/scripts/bundle.js"></script>
