<% include ../../resources/components/_variables.ejs %>

<% include ../../resources/components/_head.ejs %>

<% include ../../resources/components/_header.ejs %>

<main>

</main>

<% include ../../resources/components/_footer.ejs %>

<script src="./assets/scripts/bundle.js"></script>
