elem-girl {
  top: 120px;
  left: 40px;
}

elem-girl-head {
  z-index: 999;
  width: 55px;
  height: 120px;
  background-color: rgb(26,25,41);
  transform:
    rotate(5deg)
    translate(22px, -45px);
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);

  &:before {
    content: '';
    width: 100px - 2px - 2px;
    height: 200px - 2px - 2px;
    background-image: linear-gradient(0deg,
      rgb(26,25,41) 0%,
      rgb(9,31,44) 21%,
      rgb(21,28,54) 41%,
      rgb(18,29,51) 59%,
      rgb(64,84,117) 80%,
      rgb(169,175,173) 100%
    );
  }
}

elem-girl-hair {
  width: 100px;
  height: 2px;
  background-color: #43472c;
  box-shadow:
    0 -3px 0 #554b30,
    0 -6px 0 #9f9d74;
  transform: rotate(5deg) translate(5px, -45px);
}

elem-girl-body {
  position: relative;
  width: 130px;
  height: 350px;
  background-color: #a37f67;
  transform: skew(3deg) rotate(-2deg);
  clip-path: polygon(0% 15%, 50% 15%, 50% 0%, 100% 0%, 50% 100%);

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% - 2px - 2px);
    height: calc(100% - 2px - 2px);
    background-image: linear-gradient(
      0deg,
      rgb(212,156,33) 0%,
      rgb(220,185,43) 15%,
      rgb(211,184,43) 33%,
      rgb(226,200,81) 49%,
      rgb(215,180,142) 58%,
      rgb(209,132,64) 67%,
      rgb(246,159,150) 76%,
      rgb(173,32,74) 84%,
      rgb(123,33,68) 92%,
      rgb(39,28,45) 100%
    );
    transform: translate(-50%, -50%);
    clip-path: polygon(0% 15%, 50% 15%, 50% 0%, 100% 0%, 50% 100%);
  }
}

elem-girl-heart {
  top: 60px;
  left: 95px;
  width: 40px;
  height: 65px;
  overflow: hidden;
  transform: rotate(185deg);

  &:before {
    content: '';
    width: 60px;
    height: 60px;
    border: 2px solid #4e4526;
    border-radius: 100%;
  }

  // &:after {
  //   content: '';
  //   width: 70px - 4px;
  //   height: 70px - 4px;
  //   border: 2px solid #a9a985;
  //   border-radius: 100%;
  // }
}

elem-road-for-girl {
  z-index: 9;
  bottom: 0;
  left: 0;

  &:before {
    content: '';
    bottom: 188px;
    left: 0;
    width: 356px;
    height: 10px;
    background-color: #090f1d;
  }
}

elem-building {
  bottom: 190px;
  left: 30px;
  background: #793C27;
  width: 8px;
  height: 100px;
  transform: skew(0, -30deg);
}

elem-store {
  bottom: 220px;
  left: 230px;
  width: 60px;
  height: 60px;
  border: 2px solid black;
  border-radius: 100%;
  box-shadow: 0 0 20px black inset;
  transform: rotate(-8deg);

  &:before,
  &:after {
    content: '';
    top: 50%;
    left: 50%;
    width: 70px;
    height: 1px;
    background-color: brown;
    box-shadow:
      0 10px 0 brown,
      0 20px 0 brown;
  }

  &:before {
    transform: translate(-50%, -10px);
  }

  &:after {
    transform: translate(-25px, 0) rotate(90deg);
  }
}

elem-station {
  bottom: 268px;
  left: 345px;
  transform: rotate(135deg);

  &:before,
  &:after {
    content: '';
    display: block;
    width: 40px;
    height: 1px;
  }

  &:before {
    background-color: #3B4020;
    box-shadow:
      0 3px 0 #3B4020,
      0 6px 0 #3B4020,
      0 9px 0 #3B4020;
    transform: translate(-6px, -6px);
  }

  &:after {
    background-color: #774E22;
    box-shadow:
      0 3px 0 #774E22,
      0 6px 0 #774E22,
      0 9px 0 #774E22,
      0 12px 0 #774E22;
    transform: rotate(90deg);
  }
}

elem-rails-for-another-city {
  &:before,
  &:after {
    content: '';
    background-color: #041020;
    height: 300px;
    left: 0;
    bottom: 0;
  }

  &:before {
    opacity: 0.85;
    width: 10px;
    transform: skew(-68deg) translate(150px, 70px) rotate(140deg);
  }

  &:after {
    width: 24px;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    transform: skew(-40deg) translate(148px, 70px) rotate(180deg);
  }

  > li {
    $rails-color: #2D1E19;

    width: 200px;
    height: 3px;
    background-color: $rails-color;

    &:nth-child(1) {
      opacity: 0.9;
      left: 54px;
      bottom: 170px;
      box-shadow: 0 10px 0 $rails-color;
      transform: rotate(32deg) scale(0.4);
    }

    &:nth-child(2) {
      left: 6px;
      bottom: 145px;
      box-shadow: 0 6px 0 $rails-color;
      transform: rotate(46deg) scale(0.7);
    }

    &:nth-child(3) {
      opacity: 0.7;
      left: 0;
      bottom: 90px;
      box-shadow:
        0 5px 0 $rails-color,
        0 5px + 5px 0 $rails-color;
      transform: rotate(15deg) scale(0.8) translate(-15px);
    }
  }
}

elem-city-light {
  bottom: 330px;
  left: 390px;
  width: 30px;
  height: 30px;
  border-radius: 116% 27px 37px 85%;
  background-image: linear-gradient(100deg, rgba(#B31428, 0.8), #B31428);
  transform: rotate(20deg);
}
